<div class="container">
    <p class="lead fs-2">Revision de Pipes</p>
    <div class="alert alert-primary">
        Descripcion sin Pipe: {{descripcion}}
    </div>
    <div class="alert alert-danger">
        Descripcion sin Pipe: {{descripcion | uppercase}}
    </div>
    <div class="alert alert-secondary">
        Descripcion sin Pipe: {{descripcion | lowercase}}
    </div>
    <hr />
    <div class="alert alert-secondary">
        Precio sin Pipe: {{precio}}
    </div>
    <div class="alert alert-info">
        Precio con Pipe: {{precio | number}}
    </div>
    <div class="alert alert-info">
        Precio con Pipe (2 decimales): {{precio | number:'1.0-2'}}
    </div>
    <div class="alert alert-info">
        Precio con Pipe (4 decimales): {{precio | number:'1.0-4'}}
    </div>
    <div class="alert alert-info">
        IGV sin PIPE: {{igv }}
    </div>
    <div class="alert alert-info">
        IGV con PIPE: {{igv | percent }}
    </div>
    <hr />
    <div class="alert alert-info">
        PI sin PIPE: {{PI}}
    </div>
    <div class="alert alert-danger">
        PI con PIPE (2 decimales): {{PI | number:'1.0-2' }}
    </div>
    <div class="alert alert-info">
        PIv2 sin PIPE: {{PIv2}}
    </div>
    <div class="alert alert-danger">
        PIv2 con PIPE (4 decimales): {{PIv2 | number:'1.0-4' }}
    </div>
    <hr />
    <div class="alert alert-danger">
        Sueldo sin PIPE: {{sueldo}}
    </div>
    <div class="alert alert-info">
        Sueldo con PIPE: {{sueldo | number:'.0-0'}}
    </div>
    <hr />
    <div class="alert alert-danger">
        Saldo sin PIPE: {{saldo}}
    </div>
    <div class="alert alert-info">
        Saldo con PIPE: {{saldo | currency: 'USD '}}
    </div>
    <div class="alert alert-info">
        Saldo con PIPE (Euros): {{saldo | currency:'EUR '}}
    </div>
    <div class="alert alert-info">
        Saldo con PIPE (Soles): {{saldo | currency:'PEN '}}
    </div>
    <div class="alert alert-info">
        Saldo con PIPE (Real Brasilero): {{saldo | currency:'BRL '}}
    </div>
    <div class="alert alert-info">
        Saldo con PIPE (Peso Chileno): {{saldo | currency:'CLP '}}
    </div>
    <div class="alert alert-info">
        Saldo con PIPE (Peso Colombiano): {{saldo | currency:'COP '}}
    </div>
    <hr />
    <div class="alert alert-danger">
        Fecha sin PIPE: {{dia}}
    </div>
    <div class="alert alert-info">
        Fecha con PIPE: {{dia | date}}
    </div>
    <div class="alert alert-info">
        Fecha con PIPE: {{dia | date:'dd/MM/yyyy '}}
    </div>
    <div class="alert alert-info">
        Fecha con PIPE: {{dia | date:'dd/MM/yyyy hh:mm:ss a'}}
    </div>
    <div class="alert alert-info">
        Fecha con PIPE: {{dia | date:'short'}}
    </div>
    <div class="alert alert-info">
        Fecha con PIPE: {{dia | date:'shortTime'}}
    </div>