<div class="container">
<div
    [ngStyle]="{ border: 'solid 2px black', padding: '20px', margin: '20px' }"
  >
    <p>Directiva estructural (ngIf, ngFor, ngSwitch)</p>
    <button class="btn btn-primary btn-sm" (click)="muestraFrutas()">
      {{ btnMostrarFrutasCaption }}
    </button>
    <div *ngIf="indicaMostrarFrutas; else todaviaNoMuestraFrutas">
      <div *ngFor="let fruta of frutas">
        <ul>
          <li>Fruta: {{ fruta.nombre }} Precio: {{ fruta.precio }}</li>
        </ul>
      </div>
    </div>

    <ng-template #todaviaNoMuestraFrutas>
      <div>
        <p>Aun no se muestra las frutas</p>
      </div>
    </ng-template>
    <hr/>
  
    <button class="btn btn-danger btn-sm" (click)="muestraSiguienteExamen()">Siguiente Examen</button>
    <div [ngSwitch]="evaluacion">
      <div *ngSwitchCase="1"><p class="lead fs-2">Evaluacion Final de Java fundamentals</p></div>
      <div *ngSwitchCase="2"><p class="lead fs-2">Evaluacion Final de Java Web Developer</p></div>
      <div *ngSwitchCase="3"><p class="lead fs-2">Evaluacion Final de Java Front Developer</p></div>
      <div *ngSwitchCase="4"><p class="lead fs-2">Evaluacion Final de Angular</p></div>
      <div *ngSwitchCase="5"><p class="lead fs-2">Evaluacion Final de React</p></div>
      <div *ngSwitchDefault><p class="lead fs-2">Examen no existe</p></div>
    </div>

    <div class="container">
      <p>Evaluaciones que provienen de un arreglo</p>
      <button class="btn btn-primary" (click)="muestraSiguienteEvaluacion()">Mostrar siguiente</button>
      <div [ngSwitch]="evaluacionContinua">
        <div *ngFor="let evaluacion of evaluaciones">
          <div *ngSwitchCase="evaluacion.id">
            <p class="lead fs-3 fw-border alert alert-primary shadow">Id: {{evaluacion.id}} Curso: {{evaluacion.nombre}} Dificultad: {{evaluacion.dificultad}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>