<div class="container">
    <div class="row">
        <h3 class="alert alert-secondary text-center fw-bolder m-2">Gestion de Empleados</h3>
        <div class="col col-7 shadow m-2 border border-2 border-primary">
            <!-- <h3 class="alert alert-secondary">Empleados: {{empleados.length}}</h3> -->
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Edad</th>
                        <th>Cargo</th>
                        <th>Opcion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let emp of empleados">
                        <td>{{emp.nombre}}</td>
                        <td>{{emp.apellidos}}</td>
                        <td>{{emp.edad}}</td>
                        <td>{{emp.cargo}}</td>
                        <td>
                            <button class="btn btn-danger btn-sm m-2" (click)="eliminar(emp)">X</button>
                            <button class="btn btn-warning btn-sm m-2" (click)="editar(emp)">E</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col col-4 shadow m-2 border border-2 border-info">
            <p class="alert alert-primary text-center m-2 fw-bolder">Registro de Empleado</p>
            <form [formGroup]="formValue">
                <div class="form-outline mb-2">
                    <input type="text" formControlName="nombre" id="nombre" class="form-control"/>
                    <label class="form-label" for="nombre">Nombre</label>
                </div>
                <div class="form-outline mb-2">
                    <label class="form-label">Apellidos</label>
                    <input type="text" formControlName="apellidos" class="form-control"/>
                </div>
                <div class="form-outline mb-2">
                    <label class="form-label">Edad</label>
                    <input type="text" formControlName="edad" class="form-control"/>
                </div>
                <div class="form-outline mb-2">
                    <label class="form-label">Cargo</label>
                    <input type="text" formControlName="cargo" class="form-control"/>
                </div>
                
                <button *ngIf="muestraBtnR" class="btn btn-primary btn-sm m-2" (click)="registrar()">Registrar</button>
                <button *ngIf="muestraBtnA" class="btn btn-primary btn-sm m-2" (click)="actualizar()">Actualizar</button>
                <button *ngIf="muestraBtnA" class="btn btn-secondary btn-sm m-2" (click)="cancelar()">Cancelar</button>
            </form>
        </div>
    </div>
</div>>