<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0A314B">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Angular</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="mx-auto"></div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="inicio">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="directivas-atributo">Directiva Atributos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="directivas-estructural">Directiva Estructural</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="pipes">Pipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="template-driven">Form Template</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="model-driven">Model Driven</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="api-servicio-empleado">Empleados-API</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="**">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>