<div class="container">
  <div
[ngStyle]="{ border: 'solid 2px black', padding: '20px', margin: '20px' }"
  >
    <p>Directiva de atributo</p>
    <span [ngStyle]="{ color: 'green', 'background-color': 'black' }"
      >Texto con ngStyle</span
    ><br />
    <span style="color: green; background-color: gold"
      >Texto con Style de html</span
    >
    <p [ngClass]="['alert', 'alert-primary', 'fs-2', 'p-2 shadow']">
      Texto con ngClass estilo alert bootstrap
    </p>
  </div>
</div>