<div class="container">
    <div class="row">
        <p class="lead fs-3 fw-bolder text-primary">Model Driven de Frutas</p>
        <div class="col col-5 m-2 border border-2 shadow border-primary">
            <form class="form" [formGroup]="frutaForm" (ngSubmit)="onSubmit(frutaForm.value); frutaForm.reset()">
                <div class="form-group m-2">
                    <label>Nombre: </label>
                    <input type="text" class="form-control" formControlName="nombre" />
                    <div *ngIf="!frutaForm.errors && (frutaForm.controls['nombre'].touched || frutaForm.controls['nombre'].dirty)">
                        <div [hidden]="!frutaForm.controls['nombre'].hasError('required')" class="alert alert-danger m-2">El nombre es obligatorio</div>
                        <div [hidden]="!frutaForm.controls['nombre'].hasError('minlength')" class="alert alert-danger m-2">Introduzca al menos 3 caracteres</div>
                    </div>
                </div>

                <div class="form-group m-2">
                    <label>Precio: </label>
                    <input type="text" class="form-control" formControlName="precio" onchange="validaPrecio($event)" />
                    <div *ngIf="!frutaForm.errors && (frutaForm.controls['precio'].touched || frutaForm.controls['precio'].dirty)">
                        <div [hidden]="!frutaForm.controls['precio'].hasError('required')" class="alert alert-danger m-2">El precio es obligatorio</div>
                        <div [hidden]="!frutaForm.controls['precio'].hasError('pattern')" class="alert alert-danger m-2">El precio debe tener 2 decimales</div>
                    </div>
                </div>
                <div class="form-group m-2">
                    <button class="btn btn-dark" [disabled]="!frutaForm.valid">Enviar</button>
                </div>
            </form>
        </div>
        <div class="col col-5 m-2 border border-2 shadow border-info">
            <p>Fruta Recepcionada {{listaFrutas| json}}</p>
        </div>
    </div>
</div>