<div class="container">
    <div class="row">
        <p class="lead fs-4 fw-bolder text-primary"> Formulario con Template driven</p>
        <div class="col col-5 border border-primary m-2">
            <form #frutaForm="ngForm" (ngSubmit)="onSubmit(frutaForm.value); frutaForm.reset()">
                <div class="form-group m-2">
                    <label>Nombre:</label>
                    <input type="text" class="form-control" #nombreRef="ngModel" name="nombre"
                        minlength="3" maxlength="10" ngModel required />
                    <div *ngIf="nombreRef.errors && (nombreRef.dirty || nombreRef.touched)"
                        class="alert alert-danger m-3">
                        <div [hidden]="!nombreRef?.errors?.['required']"> El nombre es obligatorio</div>
                        <div [hidden]="!nombreRef?.errors?.['minlength']">Debe ingresar al menos 3 caracteres</div>
                    </div>
                </div>
                <div class="form-group m-2">
                    <label>Precio:</label>
                    <input type="text" class="form-control" #precioRef="ngModel" name="precio"
                        ngModel required (keypress)="validaPrecio($event)" />
                    <div *ngIf="precioRef.errors && (precioRef.dirty || nombreRef.touched)"
                        class="alert alert-danger m-3">
                        <div [hidden]="!precioRef?.errors?.['required']">Introduzca el precio, debe tener 2 decimales</div>
                    </div>
                </div>
                <div class="form-group m-2">
                    <button class="btn btn-dark" [disabled]="!frutaForm.form.valid">Enviar</button>
                </div>
            </form>
        </div>
        <div class="col col-5 border border-info m-2">
            <p>{{listaFrutas | json}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col col-5 border border-secondary m-2">
            <table class="table table-responsive">
                <thead class="thead-dark">
                    <tr>
                        <td>Nombre</td>
                        <td>Precio</td>
                        <td>Opcion</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let fruta of listaFrutas">
                        <td>{{fruta.nombre}}</td>
                        <td>{{fruta.precio}}</td>
                        <td>
                            <button class="btn btn-primary btn-sm m-2">+</button>
                            <button class="btn btn-danger btn-sm">-</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
